/* .navbar-brand {
    background-color: ;
} 
.app-name {
    font-size: 40px;
    font-family: 'Bahnschrift SemiBold', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0px;
    background-color: #954ECA;
}


.btn{
    font-size: 17px;
    margin-left: 25px;
    color: black;
    background-color: white;
}
*/
